[user]
  name = Joel McCance
  email = jmccance@users.noreply.github.com
  signingkey = FF7D701B908C9A34
[core]
  editor = vim
  excludesfile = ~/.config/git/ignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = osxkeychain
[rebase]
  autosquash = true
[push]
  default = current
[commit]
  gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
