[user]
	name = Joel McCance
	email = joel@spothero.com
	signingkey = 51E691EC
[core]
	editor = vim
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[push]
	default = current
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
