[user]
  name = Joel McCance
  email = jmccance@users.noreply.github.com
  signingkey = 28364A42729D90F3
[core]
  editor = vim
  excludesfile = ~/.config/git/ignore
[credential]
  helper = osxkeychain
[rebase]
  autosquash = true
[push]
  default = current
[commit]
  gpgsign = true
